$col_primary:rgb(0, 0, 255); 
$col_primary_light:rgb(108, 108, 227);
$col_primary_dark:rgb(0, 0, 114);
$col_light:#777;
$col_white:#fff;
$col_black:#000;

$col_secondary_light:rgb(108, 227, 108);
$col_secondary_dark:rgb(0, 114, 0);

$col_tertiary_light:rgb(227, 108, 108);
$col_tertiary_dark:rgb(114, 0 ,0);

$col_grey_1:#f1f1f1;
$col_grey_2:#e4e4e4;
$col_grey_3:#353535;

$row_width:114rem;
$col_right_margin:8rem;

$font_normal:1.6rem;
