.composition{
    position: relative;
    @include clearfix;
    width: 100%;
    &__photo{
        position: absolute;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($col_black,0.2);
        border-radius: 2px;
        z-index: 10;
        outline-offset: 2rem;
        &--p1{
            left: 0;
            top: -2rem;
        }
        &--p2{
            right: 0;
            top: 2rem;
        }
        &--p3{
            left: 20%;
            top: 8rem;
            @include respond(phone){
                top: 5rem;
            }
        }
        &:hover{
            outline: 1.25rem solid $col_primary_light;
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: 0 2.5rem 6rem rgba($col_black,0.5);
            z-index: 20;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.95);
    }
}