@keyframes moveToLeft{
    0%{
        opacity:0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveToRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveToBottom{
    0%{
        opacity: 0;
        transform: translatey(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveToTop{
    0%{
        opacity: 0;
        transform: translatey(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes zoomIn{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes stretchIn{
    0%{
        opacity: 0;
        letter-spacing: 5rem;
    }
    100%{
        opacity: 1;
        letter-spacing: normal;
    }
}