*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%; //this is 1rem
    // font-family: 'Ms Madi', cursive;
}
body{
    box-sizing: border-box;
    min-width: 30rem;
    position: relative;
}