.u-center-text{text-align: center;}

.u-margin-top-l{margin-top: 8rem;}

.u-margin-bottom-l{margin-bottom: 8rem;}

.u-margin-bottom-md{margin-bottom: 4rem;}

.u-margin-bottom-sm{margin-bottom: 1.5rem;}